*{
    margin: 0px;
} 
body {
    background: black;
}   
#game-area{
    width: 800px;
    height: 500px;
    border: solid white 5px;
}
#character{
    position: absolute;
    left: 385px;
    top: 440px;
    height: 60px;
    width: 60px;
    z-index: 10;
    background-image: url('spaceship.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position:0 0;
}
@keyframes moveUp {
    0%{top: 450px;}
    100%{top: -50px;}
}
p{
    background-color: rgb(30, 30, 71);
    width: 2px;
    height: 12px;
    box-shadow: 0px 0px 5px 3px rgb(255, 255, 255);
    position: absolute;
    top: 420px;
    animation: moveUp linear 500ms;
}
img{
    position: absolute;
    top: 20px;
    left: 0px;
    height: 20px;
}
#line{
    position: absolute;
    height: 5px;
    width: 800px;
    top: 290px;
    left: 5px;
    background: red;
}
#modal{
    position: absolute;
    left: 405px;
    top: 250px;
    height: 300px;
    width: 500px;
    padding: 50px;
    font-size: 32px;
    background:black;
    border: 5px solid blue;
    font-family:Arial Black;
    color: white;
    display: flex;
    text-align: center;
    align-content:space-between;
    justify-content:center;
    flex-direction:column;
    transform: translate(-50%, -50%);
    z-index: 99999999999999999999999999999999;
    visibility: hidden;
}
#modal-2{
    position: absolute;
    left: 405px;
    top: 250px;
    height: 300px;
    width: 500px;
    padding: 50px;
    font-size: 32px;
    background:black;
    border: 5px solid blue;
    font-family:Arial Black;
    color: white;
    display: flex;
    text-align: center;
    align-content:space-between;
    justify-content:center;
    flex-direction:column;
    transform: translate(-50%, -50%);
    z-index: 999999999999999999999999999999999;
    visibility: hidden;
}
#modal-start{
    position: absolute;
    left: 405px;
    top: 250px;
    height: 300px;
    width: 500px;
    padding: 50px;
    font-size: 18px;
    background:black;
    border: 5px solid blue;
    font-family:Arial Black;
    color: white;
    display: flex;
    text-align: center;
    align-content:space-between;
    justify-content:center;
    flex-direction:column;
    transform: translate(-50%, -50%);
    z-index: 999999999999999999999999999999999;
    visibility: visible;
}
#btn{
    position: relative;
    background: blue;
    width: 200px;
    color: white;
    font-size: 24px;
    padding:20px;
    border: outset 5px rgb(0, 0, 141);
    outline: none;
    margin: 50px 150px;
}
#btn:active{
    position: relative;
    background: blue;
    width: 200px;
    color: white;
    font-size: 24px;
    padding:20px;
    border: inset 5px rgb(0, 0, 141);
    outline: none;
    margin: 50px 150px;
}
#start-1, #start-2, #start-3{
    position: relative;
    background: blue;
    width: 200px;
    color: white;
    font-size: 24px;
    padding:20px;
    border: outset 5px rgb(0, 0, 141);
    outline: none;
    margin: 50px 30px;
}
#start-1:active, #start-2:active, #start-3:active{
    position: relative;
    background: blue;
    width: 200px;
    color: white;
    font-size: 24px;
    padding:20px;
    border: inset 5px rgb(0, 0, 141);
    outline: none;
    margin: 50px 30px;
}
#buttons{
    display: flex;
    align-items: center;
    justify-content:center;
    width: 500px;
}
#scoreDiv{
    display: flex;
    align-items: center;
    justify-content: center;
}
#block-one{
    width: 50px;
    height: 50px;
    background-color: blue;
    position: absolute;
    top: 350px;
    left: 150px;
    z-index: 99;
}
#block-two{
    width: 50px;
    height: 50px;
    background-color: blue;
    position: absolute;
    top: 350px;
    left: 300px;
    z-index: 99;
}
#block-three{
    width: 50px;
    height: 50px;
    background-color: blue;
    position: absolute;
    top: 350px;
    left: 450px;
    z-index: 99;
}
#block-four{
    width: 50px;
    height: 50px;
    background-color: blue;
    position: absolute;
    top: 350px;
    left: 600px;
    z-index: 99;
}